.header-navbar {
  background-color: #b9a3b9;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left-col {
  /* background-color: blueviolet; */
}

.right-col {
  /* background-color: gold; */
}

.main-container {
  padding-left: 0;
  padding-right: 0;
}

.price-form {
  width: 10%;
}

.price-form-control {
  margin-top: -10%;
  size: 10px;
}

.price-form-group {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: -250%;
}

.price-apply-button {
  margin-top: 15px;
  margin-left: 45px;
}

.signin-signout-button {
  margin-left: 80%;
}
